.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .logo-social-icons {
  display: inline-block;
  align-items: center;
  justify-content: center;
  box-sizing: border-box
} */

footer .socialIcons a, footer .socialIcons a:visited {
  color: rgb(148, 132, 98);
  text-decoration: none;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: border-box;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
  font-size: 20px;

}

footer .socialIcons a:hover {
  color: #6237A0
}

.footer-socialIcons {
  padding-top: 13px;
}
